[Desktop Entry]
Type=Application
Name=Photini
Comment=An easy to use digital photograph metadata (EXIF, IPTC, XMP) editing application.
GenericName=Photini photo metadata editor
Terminal=false
Categories=Graphics;Photography;
MimeType=image/jpeg;image/jpeg2000;image/tiff;image/png;image/gif;image/svg+xml;image/x-dcraw;
X-Desktop-File-Install-Version=0.23
GenericName[de]=Photini-Fotometadateneditor
Comment[de]=Ein einfach zu bedienender Metadaten-Editor für digitale Bilder.
GenericName[es]=Photini editor de metadatos fotográficos
Comment[es]=Un editor de metadatos fotográficos fácil de usar.
GenericName[ca]=Photini editor de metadades de foto
Comment[ca]=Un editor de metadades de foto digital fàcil d'usar.
GenericName[pl]=Photini edytor metadanych zdjęcia
Comment[pl]=Łatwy w użyciu edytor metadanych fotografii cyfrowej.
GenericName[cs_CZ]=Editor fotografických popisných údajů Photini
Comment[cs_CZ]=Snadno se používající editor popisů digitálních fotografií.
