# ignore setuptools' idea of what should be included
exclude *
recursive-exclude * *

# add the minimum needed to install Photini
include CHANGELOG.txt LICENSE.txt MANIFEST.in pyproject.toml README.rst setup.py
recursive-include src/photini *
global-exclude *~ *.pyc
