sphinx==4.5.0
sphinx-rtd-theme==0.5.2
sphinx-tabs==3.2.0
sphinxcontrib-applehelp==1.0.0
sphinxcontrib-devhelp==1.0.0
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.0
sphinxcontrib-serializinghtml==1.1.5
