[Desktop Entry]
Type=Application
Name=Photini
GenericName=Photini metadata editor
Exec=photini
Terminal=false
Categories=Graphics;Photography;
Icon=../icons/hicolor/48x48/apps/photini.png
