[Desktop Entry]
Type=Application
Name=Photini
GenericName=Photini metadata editor
Exec=python -m photini.editor
Terminal=false
Categories=Graphics;Photography;
